In [3]:
import pandas as pd
import os

In [38]:
join_key = 'CO_UNIDADE'
data_folder='../BASE_DE_DADOS_CNES_202003'

# CARREGA AS INFORMAÇÕES DO NÚMERO DE LEITOS
print('numero leitos')
columns = ['CO_UNIDADE', 'QT_EXIST', 'QT_SUS']
leitos = pd.read_csv(os.path.join(data_folder, 'rlEstabComplementar202003.csv'), sep=';')
leitos = leitos[columns]
leitos = leitos.groupby('CO_UNIDADE').sum()
print(leitos.shape)
leitos

numero leitos
(9627, 2)

                                 QT_EXIST  QT_SUS
CO_UNIDADE
1100012516500                           6       0
1100012679477                          45      45
1100020102091                          11      11
1100022494280                          36      31
1100022494299                          67      67
...                                   ...     ...
CE00000000000000006580724000138         8       0
PB00000000000000000000000005169         1       1
PB00000000000000000000000007617        26      16
PE00000000000000012047965000119        18       0
SP00000000000000059302026000137       150       0

[9627 rows x 2 columns]

In [19]:
# FILTRA OS TIPOS DE LEITO
columns = ["CO_LEITO", "DS_LEITO"]
# tipos_leito_escolhidos = ["51", "52", "74", "75", "76", "46", "34", "49"]
tipo_leito_key = 'TP_LEITO'
print('filtro tipos de leito')
tipo_leitos = pd.read_csv(os.path.join(data_folder, 'tbLeito202003.csv'), sep=';')
#tipo_leitos = tipo_leitos[columns].set_index(tipo_leito_key)
tipo_leitos
# leitos = leitos[leitos[tipo_leito_key].isin(tipos_leito_escolhidos)]

filtro tipos de leito

    CO_LEITO                                           DS_LEITO  TP_LEITO
0          1                                 BUCO MAXILO FACIAL         1
1          2                                        CARDIOLOGIA         1
2          3                                     CIRURGIA GERAL         1
3          4                                     ENDOCRINOLOGIA         1
4          5                                  GASTROENTEROLOGIA         1
..       ...                                                ...       ...
63        93  UNIDADE DE CUIDADOS INTERMEDIARIOS NEONATAL CA...         3
64        94      UNIDADE DE CUIDADOS INTERMEDIARIOS PEDIATRICO         3
65        95          UNIDADE DE CUIDADOS INTERMEDIARIOS ADULTO         3
66        51                           UTI II ADULTO - COVID-19         3
67        52                       UTI II PEDIATRICA - COVID-19         3

[68 rows x 3 columns]

In [ ]:
leitos = leitos.set_index(tipo_leito_key).join(tipo_leitos, on=tipo_leito_key, lsuffix='_')
leitos = leitos.reset_index().drop(columns=[tipo_leito_key])
leitos = leitos.set_index(join_key)
leitos.to_csv(os.path.join(self.save_path, 'leitos.csv'))

In [66]:
# CARREGA AS INFORMAÇÕES DO ESTABELECIMENTO
columns = ['CO_CNES', 'NO_FANTASIA', 'NO_LOGRADOURO', 'NU_ENDERECO', 'NO_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP',
    'NU_LATITUDE', 'NU_LONGITUDE', 'NU_TELEFONE', 'TP_UNIDADE', 'CO_MUNICIPIO_GESTOR',
    'TP_ESTAB_SEMPRE_ABERTO', 'CO_TIPO_ESTABELECIMENTO', 'CO_ATIVIDADE_PRINCIPAL']
print('estabelecimento')
estabelecimentos = pd.read_csv(os.path.join(data_folder, 'tbEstabelecimento202003.csv'), sep=';', low_memory=False)
estabelecimentos = estabelecimentos[columns]
    # SELECIONA APENAS O MUNICIPIO DO RIO DE JANEIRO
estabelecimentos = estabelecimentos.loc[estabelecimentos['CO_MUNICIPIO_GESTOR'] == 330455].drop(
    columns=['CO_MUNICIPIO_GESTOR'])
estabelecimentos

estabelecimento

,CO_CNES,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,NO_BAIRRO,CO_CEP,NU_LATITUDE,NU_LONGITUDE,NU_TELEFONE,TP_UNIDADE,TP_ESTAB_SEMPRE_ABERTO,CO_TIPO_ESTABELECIMENTO,CO_ATIVIDADE_PRINCIPAL
112,2271249,ONCOLOGISTAS ASSOCIADOS,RUA DR CAETANO DE FARIA E CASTRO,25,SALAS 303 E 307,CAMPO GRANDE,23052010,NaN,NaN,(21)33949816,36,NaN,NaN,NaN
124,2271257,ONCOLOGISTAS ASSOCIADOS,RUA CARDOSO DE MORAES,61,SALAS 512 E 513,BONSUCESSO,21032000,NaN,NaN,(21)25601885,36,NaN,NaN,NaN
174,32255,VERA ALBUQUERQUE PSICO FONO,RUA CONDE DE BONFIM,370,SALA 705,TIJUCA,20520054,-22.9067678,-43.2395772,NaN,22,N,16.0,1.0
175,33731,JULIANA DE MOURA CABRAL,AVENIDA EMBAIXADOR ABELARDO BUENO,1,BL 01 SALA 201E,JACAREPAGUA,22775040,-22.9750781,-43.3650714,30420458,22,N,16.0,1.0
183,55107,ORLANDO TEIXEIRA MAIA JUNIOR,FAME DE AMOEDO,104,LOJ A,IPANEMA,22420020,-22.903,-43.208,NaN,22,N,16.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398708,3820572,HISTOCITO PATOLOGIA CIRURGICA E CITOPATOLOGIA,AVENIDA NOSSA SENHORA DE COPACABANA,540,SL 1004,COPACABANA,22020001,NaN,NaN,25496150,39,NaN,NaN,NaN
398709,3820599,SMS CF ARMANDO PALHARES AGUINAGA AP 51,AV SANTA CRUZ,S/N,NaN,REALENGO,21765020,-22.87887631,-43.42990318,21 2401-7787,2,N,1.0,12.0
398724,2291266,SMS RIO HOSPITAL MUNICIPAL FRANCISCO DA SILVA ...,UBIRAJARA,25,NaN,IRAJA,21230300,-22.903,-43.208,021 3715070,5,S,6.0,9.0
399888,3008541,UTI NEONATAL AMPARO,RUA ESTRELA,27,PARTE,RIO COMPRIDO,20251021,NaN,NaN,(21)25560022,7,NaN,NaN,NaN
400127,6445152,CLINICA DO CORPO E DA VOZ,RUA URUGUAI,247,LOJAS A B C,TIJUCA,20510060,NaN,NaN,22688943,36,NaN,NaN,NaN

In [63]:
# CARREGA OS TIPOS DE ESTABELECIMENTO
columns = ["CO_TIPO_ESTABELECIMENTO", "DS_TIPO_ESTABELECIMENTO"]
key_tipo = "CO_TIPO_ESTABELECIMENTO"
print('tipos estabelecimentos')
tipo_estabelecimentos = pd.read_csv(os.path.join(self.data_folder, 'tbTipoEstabelecimento202003.csv'), sep=';')
tipo_estabelecimentos = tipo_estabelecimentos[columns].set_index(key_tipo)
estabelecimentos = estabelecimentos.set_index(key_tipo).join(tipo_estabelecimentos, on='CO_TIPO_ESTABELECIMENTO', lsuffix='_')
estabelecimentos = estabelecimentos.reset_index().drop(columns=[key_tipo])
# FILTRA OS ESTABELECIMENTOS DE INTERESSE
EXCLUDE_COLUMNS = [
    "CENTRAL DE GESTAO EM SAUDE", "CENTRAL DE REGULACAO", "CENTRAL DE ABASTECIMENTO",
    "CENTRAL DE TRANSPLANTE", "CENTRO DE ASSISTENCIA OBSTETRICA E NEONATAL NORMAL", "FARMACIA",
    "UNIDADE DE ATENCAO HEMATOLOGICA E/OU HEMOTERAPICA", "UNIDADE DE ATENCAO PSICOSSOCIAL",
    "UNIDADE DE APOIO DIAGNOSTICO","UNIDADE DE TERAPIAS ESPECIAIS", "LABORATORIO DE PROTESE DENTARIA",
    "UNIDADE DE VIGILANCIA DE ZOONOSES","LABORATORIO DE SAUDE PUBLICA",
    "CENTRO DE REFERENCIA EM SAUDE DO TRABALHADOR","SERVICO DE VERIFICACAO DE OBITO","CENTRO DE IMUNIZACAO"]
estabelecimentos = estabelecimentos[~estabelecimentos['DS_TIPO_ESTABELECIMENTO'].isin(EXCLUDE_COLUMNS)]

tipos estabelecimentos

NameError: name 'self' is not defined

In [22]:
estabelecimentos = estabelecimentos.set_index(join_key)
print('filtro estabelecimentos')
estabelecimentos

filtro estabelecimentos

,CO_CNES,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,NO_BAIRRO,CO_CEP,NU_LATITUDE,NU_LONGITUDE,NU_TELEFONE,TP_UNIDADE,TP_ESTAB_SEMPRE_ABERTO,CO_TIPO_ESTABELECIMENTO,CO_ATIVIDADE_PRINCIPAL
CO_UNIDADE,,,,,,,,,,,,,,
RJ0000330455000028000107000825,2271249,ONCOLOGISTAS ASSOCIADOS,RUA DR CAETANO DE FARIA E CASTRO,25,SALAS 303 E 307,CAMPO GRANDE,23052010,NaN,NaN,(21)33949816,36,NaN,NaN,NaN
RJ0000330455000028000107000744,2271257,ONCOLOGISTAS ASSOCIADOS,RUA CARDOSO DE MORAES,61,SALAS 512 E 513,BONSUCESSO,21032000,NaN,NaN,(21)25601885,36,NaN,NaN,NaN
3304550032255,32255,VERA ALBUQUERQUE PSICO FONO,RUA CONDE DE BONFIM,370,SALA 705,TIJUCA,20520054,-22.9067678,-43.2395772,NaN,22,N,16.0,1.0
3304550033731,33731,JULIANA DE MOURA CABRAL,AVENIDA EMBAIXADOR ABELARDO BUENO,1,BL 01 SALA 201E,JACAREPAGUA,22775040,-22.9750781,-43.3650714,30420458,22,N,16.0,1.0
3304550055107,55107,ORLANDO TEIXEIRA MAIA JUNIOR,FAME DE AMOEDO,104,LOJ A,IPANEMA,22420020,-22.903,-43.208,NaN,22,N,16.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3304553820572,3820572,HISTOCITO PATOLOGIA CIRURGICA E CITOPATOLOGIA,AVENIDA NOSSA SENHORA DE COPACABANA,540,SL 1004,COPACABANA,22020001,NaN,NaN,25496150,39,NaN,NaN,NaN
3304553820599,3820599,SMS CF ARMANDO PALHARES AGUINAGA AP 51,AV SANTA CRUZ,S/N,NaN,REALENGO,21765020,-22.87887631,-43.42990318,21 2401-7787,2,N,1.0,12.0
3304552291266,2291266,SMS RIO HOSPITAL MUNICIPAL FRANCISCO DA SILVA ...,UBIRAJARA,25,NaN,IRAJA,21230300,-22.903,-43.208,021 3715070,5,S,6.0,9.0
3304553008541,3008541,UTI NEONATAL AMPARO,RUA ESTRELA,27,PARTE,RIO COMPRIDO,20251021,NaN,NaN,(21)25560022,7,NaN,NaN,NaN
3304556445152,6445152,CLINICA DO CORPO E DA VOZ,RUA URUGUAI,247,LOJAS A B C,TIJUCA,20510060,NaN,NaN,22688943,36,NaN,NaN,NaN

In [58]:
leitos = pd.read_csv(os.path.join(data_folder, 'dataset', 'Leitos SIH_SUS_RJ.csv'), encoding='latin1')
leitos

,UF,MunicÃ­pio,Estabelecimento de saÃºde,CNES,Espec./Tipo do Leito,Qtd Exist.,Qtd SUS
0,RJ,RIO DE JANEIRO-RJ,MS INST NACIONAL DE TRAUMATOLOGIA E ORTOPEDIA ...,2273276,ORTOPEDIATRAUMATOLOGIA,239,239
1,RJ,RIO DE JANEIRO-RJ,CLINICA DA GAVEA,2269406,PSIQUIATRIA,220,0
2,RJ,RIO DE JANEIRO-RJ,SMS IMAS JULIANO MOREIRA AP 40,2269996,PSIQUIATRIA,170,170
3,RJ,RIO DE JANEIRO-RJ,SEAP CGSP RJ HOSP PENAL PSIQUIATRICO ROBERTO M...,2270188,PSIQUIATRIA,161,161
4,RJ,RIO DE JANEIRO-RJ,SCMRJ SANTA CASA HOSPITAL N S DAS DORES,2291282,CRONICOS,160,80
...,...,...,...,...,...,...,...
1545,RJ,RIO DE JANEIRO-RJ,HOSPITAL QUALI IPANEMA,3543579,BUCO MAXILO FACIAL,1,0
1546,RJ,RIO DE JANEIRO-RJ,NOTRE DAME INTERMEDICA SAUDE,9614133,PEDIATRIA CIRURGICA,1,0
1547,RJ,RIO DE JANEIRO-RJ,HOSPITAL DO AMPARO,3013014,BUCO MAXILO FACIAL,1,0
1548,RJ,RIO DE JANEIRO-RJ,HOSPITAL BALBINO,2271451,TORAXICA,1,0
1549,RJ,RIO DE JANEIRO-RJ,HOSPITAL QUALI IPANEMA,3543579,PLASTICA,1,0

In [ ]:
estabelecimentos.to_csv(os.path.join(self.save_path, 'estabelecimentos.csv'))

In [70]:
estabelecimentos.shape, leitos.shape#.unique()

((14083, 14), (1550, 7))

In [85]:
# Concatena os dados
dataframe = estabelecimentos.set_index('CO_CNES').join(leitos.set_index('CNES'), how='right')
print('dados concatenados')
dataframe = dataframe.drop(columns=['NO_FANTASIA', 'NO_COMPLEMENTO', 'NU_TELEFONE','UF', 'MunicÃ­pio', 'NO_LOGRADOURO', 'NU_ENDERECO', 'CO_CEP'])

dados concatenados

In [86]:
dataframe.groupby('Estabelecimento de saÃºde')

,NO_BAIRRO,NU_LATITUDE,NU_LONGITUDE,TP_UNIDADE,TP_ESTAB_SEMPRE_ABERTO,CO_TIPO_ESTABELECIMENTO,CO_ATIVIDADE_PRINCIPAL,Estabelecimento de saÃºde,Espec./Tipo do Leito,Qtd Exist.,Qtd SUS
2269341,VILA ISABEL,-22.903,-43.208,7,S,6.0,9.0,SMS RIO HOSPITAL MUNICIPAL JESUS,PEDIATRIA CLINICA,38,38
2269341,VILA ISABEL,-22.903,-43.208,7,S,6.0,9.0,SMS RIO HOSPITAL MUNICIPAL JESUS,CIRURGICO/DIAGNOSTICO/TERAPEUTICO,12,12
2269341,VILA ISABEL,-22.903,-43.208,7,S,6.0,9.0,SMS RIO HOSPITAL MUNICIPAL JESUS,CRONICOS,10,10
2269341,VILA ISABEL,-22.903,-43.208,7,S,6.0,9.0,SMS RIO HOSPITAL MUNICIPAL JESUS,UNIDADE DE CUIDADOS INTERMEDIARIOS PEDIATRICO,9,9
2269341,VILA ISABEL,-22.903,-43.208,7,S,6.0,9.0,SMS RIO HOSPITAL MUNICIPAL JESUS,UTI PEDIATRICA - TIPO II,8,8
...,...,...,...,...,...,...,...,...,...,...,...
9614133,ANDARAI,-22.903,-43.208,5,S,6.0,9.0,NOTRE DAME INTERMEDICA SAUDE,UTI PEDIATRICA - TIPO III,9,0
9614133,ANDARAI,-22.903,-43.208,5,S,6.0,9.0,NOTRE DAME INTERMEDICA SAUDE,UNIDADE ISOLAMENTO,4,0
9614133,ANDARAI,-22.903,-43.208,5,S,6.0,9.0,NOTRE DAME INTERMEDICA SAUDE,CIRURGIA GERAL,3,0
9614133,ANDARAI,-22.903,-43.208,5,S,6.0,9.0,NOTRE DAME INTERMEDICA SAUDE,PEDIATRIA CIRURGICA,1,0
9640665,ENGENHO DE DENTRO,NaN,NaN,36,S,6.0,7.0,LOG HEALT,UTI ADULTO - TIPO I,21,0

In [84]:
dataframe['TP_UNIDADE'].value_counts()

5     1147
7      311
36      29
62      16
70      11
69      10
15       9
20       6
77       4
21       4
22       2
61       1
Name: TP_UNIDADE, dtype: int64

In [74]:
dataframe.to_csv(os.path.join('.', 'capacidade.csv'))